[default]
DB_ENCRYPTION_KEY="abcdefghijklmnopqrstuvwxyz123456"
DANS_TRANSFORMER_SERVICE_API_KEY="abcdefghijklmnopqrstuvwxyz123456"
DANS_REPO_ASSISTANT_SERVICE_API_KEY="abcdefghijklmnopqrstuvwxyz123456"
DANS_PACKAGING_SERVICE_API_KEY="abcdefghijklmnopqrstuvwxyz123456"